# Assignment Instructions

For this assignment, you will use the **series-31** dataset.  This file contains a dataset that I generated explicitly for this semester.  You can find the CSV file on my data site, at this location: [series-31](https://data.heatonresearch.com/data/t81-558/datasets/series-31.csv). Load and summarize the data set.  You will submit this summarized dataset to the **submit** function.  See [Assignment #1](https://github.com/jeffheaton/t81_558_deep_learning/blob/master/assignments/assignment_yourname_class1.ipynb) for details on how to submit an assignment or check that one was submitted.

The RAW datafile looks something like the following:


|time|value|
|----|-----|
|8/22/19 12:51|    19.19535862|
|9/19/19 9:44|13.51954348|
|8/26/19 14:05|9.191413297|
|8/19/19 16:37|18.34659762|
|9/5/19 9:18|1.349778007|
|9/2/19 10:23|8.462216832|
|8/23/19 15:05|17.2471252|
|...|...|

Summarize the dataset as follows:

|date|starting|max|min|ending|
|---|---|---|---|---|
|8/19/19|17.57352208|18.46883497|17.57352208|18.46883497|
|8/20/19|19.49660945|19.84883044|19.49660945|19.84883044|
|8/21/19|20.0339169|20.0339169|19.92099707|19.92099707|
|...|...|...|...|...|

* There should be one row for each unique date in the data set.
* Think of the **value** as a stock price.  You only have values during certain hours and certain days.
* The **date** column is each of the different dates in the file.
* The **starting** column is the first **value** of that date (has the earliest time).
* The **max** column is the maximum **value** for that day.
* The **min** column is the minimum **value** for that day.
* The **ending** column is the final **value** for that day (has the latest time).

You can process the **time** column either as strings or as Python **datetime**.  It may be necessary to use Pandas functions beyond those given in the class lecture.

# Assignment #3 Sample Code

The following code provides a starting point for this assignment.

In [146]:
import os
import pandas as pd
from scipy.stats import zscore

# This is your student key that I emailed to you at the beginnning of the semester.
key = "PPboscDL2M94HCbkbvfOLakXXNy3dh5x2VV1Mlpm"  # This is an example key and will not work.

# You must also identify your source file.  (modify for your local setup)
# file='/content/drive/My Drive/Colab Notebooks/assignment_yourname_class3.ipynb'  # Google CoLab
# file='C:\\Users\\jeffh\\projects\\t81_558_deep_learning\\assignments\\assignment_yourname_class3.ipynb'  # Windows
file='/Users/jheaton/projects/t81_558_deep_learning/assignments/assignment_yourname_class3.ipynb'  # Mac/Linux

# Begin assignment

#df = pd.read_csv("../data/series-31.csv", parse_dates=['time'], index_col='time')
#df['time'] = pd.to_datetime(df['time'], errors='coerce')

df = pd.read_csv("../data/series-31.csv")
df['time'] = pd.to_datetime(df['time'], errors='coerce')

In [147]:
df = df.sort_values(['time'])
df = df.reset_index(drop=True)

In [149]:
df.rename(columns={'time' : "time_raw"}, inplace=True)

In [151]:
df['time'] = df['time_raw'].dt.time
df['date'] = df['time_raw'].dt.date

In [135]:
#df.drop('time_raw', axis=1, inplace=True)

In [153]:
df = df[['date', 'time', 'value']]

In [155]:
df = df.set_index('date')

In [159]:
# Starting value column
df_starting = df.groupby(['date']).apply(lambda df : df.iloc[0, :])
df_starting.drop('time', axis=1, inplace=True)
df_starting.rename(columns={'value' : 'starting'}, inplace=True)

In [162]:
# Ending value column
df_ending = df.groupby(['date']).apply(lambda df : df.iloc[-1, :])
df_ending.drop('time', axis=1, inplace=True)
df_ending.rename(columns={'value' : 'ending'}, inplace=True)

In [118]:
# max and end value columns
df_min_max = df.groupby(['date']).value.agg([min, max])

In [169]:
df_final = df_starting
df_final = df_final.join(df_min_max)
df_final = df_final.join(df_ending)

In [170]:
df_final

             starting        min        max     ending
date
2019-08-19  17.573522  17.573522  18.468835  18.468835
2019-08-20  19.496609  19.496609  19.848830  19.848830
2019-08-21  20.033917  19.920997  20.033917  19.920997
2019-08-22  19.393700  18.893590  19.393700  18.893590
2019-08-23  17.784213  16.974865  17.784213  16.974865
2019-08-26   9.717627   8.814028   9.717627   8.814028
2019-08-27   7.630234   7.175677   7.630234   7.175677
2019-08-28   6.940731   6.940731   7.091136   7.091136
2019-08-29   7.677676   7.677676   8.150454   8.150454
2019-08-30   8.989132   8.989132   9.441207   9.441207
2019-09-02   8.562631   7.862781   8.562631   7.862781
2019-09-03   6.466720   5.518901   6.466720   5.518901
2019-09-04   3.806679   2.796339   3.806679   2.796339
2019-09-05   1.372897   0.803337   1.372897   0.803337
2019-09-06   0.566174   0.566174   0.975155   0.975155
2019-09-09  17.609837  17.609837  20.964092  20.964092
2019-09-10  26.269719  26.269719  29.067541  29.067541
2019-09-11  32.779998  32.779998  34.399895  34.399895
2019-09-12  36.168036  36.168036  36.697054  36.697054
2019-09-13  36.763634  36.347701  36.763634  36.347701
2019-09-16  26.346598  24.406477  26.346598  24.406477
2019-09-17  21.203472  19.385784  21.203472  19.385784
2019-09-18  16.659006  15.288665  16.659006  15.288665
2019-09-19  13.581243  12.983163  13.581243  12.983163
2019-09-20  12.838227  12.838227  13.337320  13.337320